.dog-diary-container {
    display: flex;
    align-items: center;
    background-color: yellow;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    color: black;
  }
  
  .dog-head-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  .dog-diary-content h3 {
    margin: 0;
    color: black;
  }
  
  .dog-diary-content #dog-diary {
    margin-top: 10px;
  }
  